# dependencies
node_modules/
build/


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.mypy_cache
.vscode

maptiler.json

# project
bosmapper/scripts/output
temp/

# Python
__pycache__/
/coverage

# Env
config/.env
thunderEnvironment.json
